/* RESET */
* {
  @include box-sizing(border-box);
}

html,body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,pre, code, fieldset, form, label, legend,
table {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea{
    outline-style:none;
    border-color:transparent;

}